>

<div class="item-details-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h2> <em>Inicia sesión</em> </h2>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="Login">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-4">
                <fieldset>
                  <label for="title">Usuario</label>
                  <input
                    type="user"
                    name="username"
                    id="username"
                    placeholder="digite su username"
                    autocomplete="on"
                    required
                  />
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label for="password">Constraseña</label>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Digite su contraseña"
                    autocomplete="on"
                    required
                  />
                </fieldset>
              </div>
              <fieldset>
                <button type="submit" id="form-submit" class="orange-button">
                  Enviar
                </button>
              </fieldset>
              <hr>
              <a routerLink="/register">Crear cuenta</a>
              <router-outlet></router-outlet>
              </div>
          </form>
        </div>
      </div>
      <div class="col-lg-12">
      </div>
      <div class="col-lg-7"></div>
      <div class="col-lg-5 align-self-center">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-4"></div>
          <div class="col-5"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2022 <a href="#">Colombia</a> Fundación FLINK Co., Ltd. All rights reserved.
        &nbsp;&nbsp;
        Designed by <a title="HTML CSS Templates" rel="sponsored"  target="_blank">Flink</a></p>
      </div>
    </div>
  </div>
</footer>

