.form-select{
    font-size: 14px;
    color: #fff;
    background-color: #7453fc;
    border: 1px solid #7453fc;
    height: 42px;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    transition: all .3s;
}